
<head>

		<!-- Title -->
		<title>Proje 1 - Cv/Resume</title>

		<!-- Required Meta Tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Personal Portfolio HTML Template based on Bootstrap by Erilisdesign">
		<meta name="author" content="Erilisdesign.com">

		<!-- Base CSS -->
		<link rel="stylesheet" href="/Templates/assets/vendor/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/Templates/assets/css/style.css">
		<link rel="stylesheet" href="/Templates/assets/css/utilities.css">

		<link rel="stylesheet" href="/Templates/assets/css/custom.css">

		<!-- Libs CSS -->
		<link rel="stylesheet" href="/Templates/assets/vendor/slick/slick.min.css" type="text/css">
		<link rel="stylesheet" href="/Templates/assets/vendor/vegas/vegas.min.css" type="text/css">
		<link rel="stylesheet" href="/Templates/assets/vendor/featherlight/featherlight.min.css" type="text/css">
		<link rel="stylesheet" href="/Templates/assets/vendor/featherlight/featherlight.gallery.min.css" type="text/css">
		<link rel="stylesheet" href="/Templates/assets/vendor/fontawesome/css/all.min.css" type="text/css">
		<link rel="stylesheet" href="/Templates/assets/vendor/themify-icons/css/themify-icons.css" type="text/css">

		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

	</head>