<section id="experience" class="pb-0">
						<div class="container">
							<div class="section-title h2 text-center mb-8">
								<h2 class="mb-0">Deneyimlerim</h2>
								<span class="title-letter">D</Data></span>
							</div>

							<div class="row">
								<div class="col-lg-4 mb-1 mb-lg-0">
									<p class="h5 mb-0">Marketing Manager</p>
									<p class="opacity-75">West House Productions, 2015 - 2020</p>
								</div>
								<div class="col-lg-8">
									<p>Brief description of the position and the responsibilities you had in this post. Fusce massa dolor, mattis sed ultrices ut, placerat ut leo. Donec sed fringilla lectus, non vulputate orci. Integer id libero euismod, interdum ligula vel, porttitor magna. Sed euismod maximus finibus. Pellentesque tempus ultricies nisi at cursus. Nulla at nisi tellus. Suspendisse potenti.</p>
								</div>
							</div>

							<hr/>

							<div class="row">
								<div class="col-lg-4 mb-1 mb-lg-0">
									<p class="h5 mb-0">Marketing Consultant</p>
									<p class="opacity-75">Jump High Marketing, 2012 - 2015</p>
								</div>
								<div class="col-lg-8">
									<p>Brief description of the position and the responsibilities you had in this post. Fusce massa dolor, mattis sed ultrices ut, placerat ut leo. Donec sed fringilla lectus, non vulputate orci. Integer id libero euismod, interdum ligula vel, porttitor magna. Sed euismod maximus finibus. Pellentesque tempus ultricies nisi at cursus. Nulla at nisi tellus. Suspendisse potenti.</p>
								</div>
							</div>

							<hr/>

							<div class="row">
								<div class="col-lg-4 mb-1 mb-lg-0">
									<p class="h5 mb-0">Product Manager</p>
									<p class="opacity-75">Trident Prototyping Studios, 2007 - 2011</p>
								</div>
								<div class="col-lg-8">
									<p>Brief description of the position and the responsibilities you had in this post. Fusce massa dolor, mattis sed ultrices ut, placerat ut leo. Donec sed fringilla lectus, non vulputate orci. Integer id libero euismod, interdum ligula vel, porttitor magna. Sed euismod maximus finibus. Pellentesque tempus ultricies nisi at cursus. Nulla at nisi tellus. Suspendisse potenti.</p>
								</div>
							</div>
						</div>
					</section>