
<button type="button" id="navigation-toggle" class="nav-toggle nav-toggle-light bg-dark">
    <span></span>
</button>

<header class="site-header site-header-light bg-dark">
    <div class="header-inner">
        <div class="header-brand">
            <a href="#" class="logo">
                <span>Yağmur Orhankazi</span>
                <span class="title-letter text-white opacity-10">Y</span>
            </a>
        </div>
        
        <div class="nav-divider mb-8"></div>
        
        <nav class="site-nav">
            <ul id="navigation">
                <li>
                    <a href="#home" class="scrollto">Ana Sayfa</a>
                </li>
                <li>
                    <a href="#about" class="scrollto">Hakkımda</a>
                </li>
                <li>
                    <a href="#services" class="scrollto">Hizmetlerim</a>
                </li>
                <li>
                    <a href="#portfolio" class="scrollto">Projelerim</a>
                </li>
                <li>
                    <a href="#news" class="scrollto">Deneyimlerim</a>
                </li>
                <li>
                    <a href="#contact" class="scrollto">İletişim</a>
                </li>
            </ul>
        </nav>
    </div>
</header>